@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        AutoIncrementCount();
        base.OnInitialized();
    }

    private  void AutoIncrementCount() 
    {
        Task.Run(async () => 
        {
            while (true) 
            {
                await this.InvokeAsync(() =>
                {
                    currentCount++;
                    StateHasChanged();
                });
                await Task.Delay(1000);
            }
        });
    }
}